@import "tailwindcss";

@theme {
    --color-brand: #6366f1;
    /* indigo-500 */
    --color-brand-dark: #4f46e5;
    /* indigo-600 */

    --color-bg-base: #0b0d11;
    --color-bg-surface: #11141b;
    --color-bg-elevated: #1a1e28;

    --color-text-base: #f1f5f9;
    --color-text-muted: #94a3b8;
    --color-border: #334155;
}

@layer base {
    body {
        background-color: var(--color-bg-base);
        color: var(--color-text-base);
        overflow: hidden;
    }
}

/* Custom Scrollbar for dark theme */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-bg-elevated);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-border);
}